section{
	&.parallax{
		background-position:center center;
		background-attachment:fixed;
		background-size:cover;
		background-repeat:no-repeat;
		height: auto;
		position:relative;
		margin-left: -15px;
		margin-right:-15px;
	}
	&.home{
		background-image: url('../img/bg-corvo.jpg');
		background-position: center center;
		background-size: cover;
		.info {
			padding: 105px 0px;
			font-family: 'Roboto', sans-serif;
			color: $branco;
			h1 {
			    width: 90%;
			    font-size: 41px;
			    opacity: 0;
			    margin-top: 50px;
			}
			p {
			    font-size: 17px;
			    display: block;
			    width: 70%;
			    margin-top: 70px;
			    opacity: 0;
			}
			.btn {
				background-color: #2e71f2;
			    color: #FFF;
			    border-radius: 30px;
			    font-size: 12px;
			    line-height: 35px;
			    width: 160px;
			    letter-spacing: 1px;
			    margin-top: 72px;
			    border: 0;
			    opacity: 0;
			    transition: 0.8s;
			    &:hover{
			    	width: 170px;
				    line-height: 45px;
				    opacity: 0.8;
				    background-color: $azul;
				    color: $branco;
			    }
			}
		}
	}
}