/*cores*/
$branco: #FFF;

$azulLighter: #cfdfe5;
$azulHalfLighter: #acd4e2;
$azul: #2e71f2;
$azulHalfDark: #009dd6;
$azulDark: #256c89;

$cinzaLighter: #989989;
$cinzaHalfLighter: #f1f1f1;
$cinza: #333;
$cinzaHalfDark: #868789;
$cinzaDark: #33373C;

$cinzaPerfil: #3b3d40;
$cinzaFundoPerfil: #ededed;

$azulBalao: #b2e1f3;
$cinzaBalao: #858688;

$azulBalaoActive: #009dd6;
$cinzaBalaoActive: #3b3d40;


/*font*/
$fontfamily: 'Roboto', sans-serif;
$font-color: #333;
