@media (max-width: 1200px){
	.perfil {
		.infos-perfil{
			padding: 10px;
		    .topo-perfil{
		    	.img-perfil{
		    		text-align: center;
		    		img{}
		    	}
		    	.nome-perfil{}
		    	.conf{}
		    	.hr-topo-perfil{}
		    	h4{}
		    }
		}
		.conteudo{
			.aba-old{}
			.aba{
			    img{}
			    &.active{
			    	&::after {}
			    }
			}
			.formulario-new{
			    label{}
			    textarea{}
			    select{
					&.hora{
						width: 30%;
					}
		    	}
		    	.data-max {
				    #data{}
				}
		    	.file {
		    		width: 95%;
				    #arquivo{}
				    .sobre {
					    .btn{}
					    #nome-arq {}
					}	
				}
		    	#estado{
		    	}
			    .nopadding{}
			    .check{
			    	label{}
					input{}
					.label-check{}
			    }
			    .btn{}	
			}
		}
		.conexao{
			.aba{
			    margin: 30px 20%;
			    img{}
			    &::after {}
				.conect{}
				#conexoes-desktop{
	    			display: none;
	    		}
	    		#conexoes-mobile{
	    			display: flex;
				    justify-content: center;
				    align-items: center;
	    		}
			}
			.peoples-conexao{
				.people{
					padding: 0;
					.col-md-8.people-texto {
					    padding: 0px 25px;
					    .nome{}
						.funcao{}
					}
				}
			}
		}
	}
}
@media (max-width: 992px){
	.perfil {
		.infos-perfil{
			padding: 40px 10px;
		    .topo-perfil{
		    	.img-perfil{
		    		img{}
		    	}
		    	.nome-perfil{
		    		h1{
		    			font-size: 30px;
		    		}
		    	}
		    	.conf{}
		    	.hr-topo-perfil{
		    		margin-top: 0px;
		    		margin-left: -13%;
		    		width: 110%;
		    	}

		    	h4{}
		    }
		}
		.conteudo{
			.aba-old{}
			.aba{
			    img{}
			    &.active{
			    	&::after {}
			    }
			}
			.formulario-new{
				margin-top: 40px;
			    label{}
			    textarea{}
			    select{
					&.hora{}
		    	}
		    	.data-max {
				    #data{}
				}
		    	.file {
				    #arquivo{}
				    .sobre {
					    .btn{}
					    #nome-arq {}
					}	
				}
		    	#estado{
		    		width: 95%;
		    	}
			    .nopadding{}
			    .check{
			    	label{}
					input{}
					.label-check{}
			    }
			    .btn{}	
			}
		}
		.conexao{
		    background-color: white;
		    z-index: 999;
	        left: -307px;
		    position: fixed;
		    top: 0;
		    width: 300px;
		    height: 100%;
		    transition: 2s;
		    padding: 40px 0px;
		    box-shadow: 0px 0px 20px #fd8469;
		    &.active{
		    			left: 0;
		    		}
			.aba{
				&.aba-conexao{
					transform: rotate(-90deg);
				    position: absolute;
				    right: -155px;
				    background-color: #fd8469;
				    top: 150px;
				    width: 50%;
				    height: 42px;
				    border-radius: 0px 0px 15px 15px;
				    padding-top: 6px;
				    cursor: pointer;
				    &::after{
				    	display: none;
				    }
				}
			    img{}
			    &::after {}
				.conect{}
			}
			.x {
			    display: block;
			    position: absolute;
			    top: 10px;
			    right: 10px;
			    font-size: 20px;
			    font-weight: bold;
			    color: #fd8469;
			}
			.peoples-conexao{
				.people{
				    padding: 0px 30px;
					.people-texto {
						padding: 0px 30px;
					    .nome{}
						.funcao{}
					}
				}
			}
		}
	}
}
@media (max-width: 768px){
	.perfil {
		.infos-perfil{
		    .topo-perfil{
		    	.img-perfil{
		    		img{}
		    	}
		    	.nome-perfil{
		    		h1{
		    			text-align: center;
		    			padding-left: 20%;
		    		}
		    	}
		    	.conf{}
		    	.hr-topo-perfil{}
		    	h4{}
		    }
		}
		.conteudo{
			.aba-old{}
			.aba{
				 font-size: 12px;
			    img{}
			    &.active{
			    	&::after {}
			    }
			}
			.formulario-new{
			    label{}
			    textarea{}
			    select{
					&.hora{
					}
		    	}
		    	.data-max {
				    #data{}
				}
		    	.file {
		    		width: 100%;
				    #arquivo{}
				    .sobre {
					    .btn{}
					    #nome-arq {}
					}	
				}
		    	#estado{
		    	}
			    .nopadding{}
			    .check{
			    	label{}
					input{}
					.label-check{}
			    }
			    .btn{}	
			}
			.solicitacoes{
				.koote {
					.topo {
						.infos-koote {

						}
					}
					.descricao{
						.desc{
							p{
								font-size: 17px;
							}
						}
						.comentarios{
							.comentario{
								.aceitar{
									    padding-left: 0px;
								}
							}
						}
					}
				}	 
			} 
		}
		.conexao{
			.aba{
			    img{}
			    &::after {}
				.conect{}
			}
			.peoples-conexao{
				.people{
					.col-md-8.people-texto {
					    .nome{}
						.funcao{}
					}
				}
			}
		}
	}
}	
@media (max-width: 420px){
	.perfil {
		.infos-perfil{
		    .topo-perfil{
		    	.img-perfil{
		    		img{}
		    	}
		    	.nome-perfil{
		    		h1{
		    			padding-left: 0%;
		    			font-size: 26px;
		    		}
		    	}
		    	.conf{
		    		padding: 40px 16px;
		    	}
		    	.hr-topo-perfil{}
		    	h4{}
		    }
		}
		.conteudo{
			.aba-old{}
			.aba{
				height: 80px;
				flex-direction: column;
				justify-content: space-around;
				text-align: center;
				font-size: 10px;
			    img{
			    	margin-right: 0px;
			    }
			    &.active{
			    	&::after {
			    		top: 70px;
			    	}
			    }
			}
			.formulario-new{
				margin-top: 40px;
			    label{}
			    textarea{}
			    select{
					&.hora{
					}
		    	}
		    	.data-max {
				    #data{}
				}
		    	.file {
				    #arquivo{}
				    .sobre {
					    .btn{}
					    #nome-arq {
					    	width: 80px;
					    }
					}	
				}
		    	#estado{
		    	}
			    .nopadding{}
			    .check{
			    	label{}
					input{}
					.label-check{}
			    }
			    .btn{}	
			}
			.solicitacoes{
				.koote{
					.topo{
						.infos-koote{
							padding-left: 0px;
						}
					}
					.descricao{
						.comentarios{
							padding-left: 0px;
							.comentario{
								padding-left: 0px;
							}
						}
					}
				}
			}
		}
		.conexao{
			.aba{
			    img{}
			    &::after {}
				.conect{}
			}
			.peoples-conexao{
				.people{
					.col-md-8.people-texto {
					    .nome{}
						.funcao{}
					}
				}
			}
		}
	}
}
